.topmost{
    padding: 1rem 0;
    overflow: hidden;
    color: white;
}

.topmost .slick-slider .slick-list .slick-track .slick-slide > div{
    margin: 1rem;
}


.swipper-heading{
    font-weight: 600;
    font-size: 2rem;
    margin-left: 5%;
}

@media only screen and (max-width : 650px) {
    .swipper-heading{
        font-size: 1rem;
    }
}